body {
    font-family: "Marmelad", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }

h2{
    color: #0A3D62;
    letter-spacing: 0.3cm;
    text-align: center;
  }
  

#bottom{
    font-size: small;
    font-weight: lighter;
    letter-spacing: 0.5px;
    color: #0A3D62;
    text-align: center;
}  