body{
    font-family: 'Marmelad', sans-serif;
    color: black;
}


h2{
    text-align: center;
    color: #0A3D62;
    letter-spacing: 0.3cm;
}

#bottom{
    font-size: small;
    font-weight: lighter;
    letter-spacing: 0.5px;
    text-align: center;
    color: #0A3D62;
    letter-spacing: 0.1cm;
}