.container-fluid{
    font-family: 'Roboto Mono', monospace;
    letter-spacing:1.5px;
    background: #F0F2F0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.nav-link{
    text-decoration: none;
    color: white;
    cursor: pointer;     
}    
.nav-link:hover{
    color:black;    
}    
.card{
    width: 350px;
    height: auto;
    letter-spacing: 0.5px;

}

#logo{
    width: 50%;
}
.navbar-nav{
    font-size: large;
}
